.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://static.fandomspot.com/images/11/22967/00-featured-wonder-egg-priority-anime-screenshot.jpg");
  background-size: cover;
}

.loginTitle {
  font-size: 65px;
  color: black;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 25px;
}

.loginForm > label {
  margin: 10px 0;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  width: 300px;
}

.loginInput:focus {
  outline: none;
}

.Link{
  text-decoration: none;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: dodgerblue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.loginRegisterButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: yellow;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
}
