.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://img.tukuppt.com/ad_preview/00/04/53/5c98c2bee0f10.jpg");
  background-size: cover;
}

.registerTitle {
  font-size: 65px;
}
.Link{
  text-decoration: none;
}
.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  width: 300px;
}

.registerInput:focus {
  outline: none;

}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: dodgerblue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin-left: 20px;
}

.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: yellow;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;

}

.registerOption{
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  width: 320px;
  margin-left: 20px;
  margin-top: 20px;
}