.buttonStyleDelete {
    width: 60px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: lightskyblue;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.buttonStyleSubmit {
    width: 110px;
    height: 45px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: lightskyblue;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 20px;
}

.review {
    font-family: "Gill Sans", sans-serif;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60%;
    border-radius: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px 20px;
    background-color: #eeeee4;
}

text {
    font-family: "Gill Sans", sans-serif;
    font-weight: bolder;
}

.sideBySide {
    margin-left: 20px;
    display:flex;
    flex-wrap: wrap;
}

textarea {
    width: 50%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 30px;
    background-color: #f8f8f8;
    font-size: 20px;
    resize: none;
}

input {
    width: 8%;
    height: 40px;
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    font-size: 20px;
    margin-left: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 30px;
}

.sideBySideSubmit {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 40px;
    display:flex;
    flex-wrap: wrap;
}

span {
    margin-left: 10px;
}
