.buttonStyleDelete {
    width: 60px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: lightskyblue;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 20px;
}

.buttonStyleSubmit {
    width: 110px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: lightskyblue;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 20px;
}

.review {
    margin-top: 26px;
}

.sideBySide {
    margin-left: 20px;
    display:flex;
    flex-wrap: wrap;
}

textarea {
    width: 50%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 20px;
    resize: none;
}

input {
    width: 8%;
    height: 43px;
    background-color: #f8f8f8;
    font-size: 20px;
    margin-left: 20px;
}

.sideBySideSubmit {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    display:flex;
    flex-wrap: wrap;
}

span {
    margin-left: 10px;
}