.searchButton{
    align-self: center;
    width: 150px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: lightskyblue;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-color: aliceblue;
}

.searchTitle {
    font-size: 55px;
    color: black;
    margin-bottom: 20px;
}

.anime{
    margin: 30px;
}

.searchInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
    width: 500px;
}

.searchInput:focus {
    outline: none;
}
